<a href="https://colab.research.google.com/github/Hariom-045/LUNG-CANCER-DETECTION/blob/main/Lung_Cancer_Detection_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

IMPORTING LIBRARIES

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url = 'https://archive.ics.uci.edu/ml/machine-learning-databases/lung-cancer/lung-cancer.data'

Loading dataset

In [ ]:
df=pd.read_csv(url,header=None,skipinitialspace=True ,na_values='?')

In [ ]:
df.shape

(32, 57)

In [ ]:
#Here 0th column is target variable and all other columns are independent columns.
df.head()

   0   1   2   3    4   5   6   7   8   ...  48  49  50  51  52  53  54  55  56
0   1   0   3   0  NaN   0   2   2   2  ...   2   2   2   2   1   1   1   2   2
1   1   0   3   3  1.0   0   3   1   3  ...   2   2   2   2   2   2   1   2   2
2   1   0   3   3  2.0   0   3   3   3  ...   2   2   2   2   2   2   2   1   2
3   1   0   2   3  2.0   1   3   3   3  ...   2   2   2   2   2   2   2   2   2
4   1   0   3   2  1.0   1   3   3   3  ...   2   2   2   2   2   2   1   2   2

[5 rows x 57 columns]

In [ ]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     4
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    1
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
dtype: int64

DATA PRE-PROCESSING

In [ ]:
df[4].fillna(int(df[4].mean()), inplace=True)
df[38].fillna(int(df[38].mean()), inplace=True)

In [ ]:
df.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
20    0
21    0
22    0
23    0
24    0
25    0
26    0
27    0
28    0
29    0
30    0
31    0
32    0
33    0
34    0
35    0
36    0
37    0
38    0
39    0
40    0
41    0
42    0
43    0
44    0
45    0
46    0
47    0
48    0
49    0
50    0
51    0
52    0
53    0
54    0
55    0
56    0
dtype: int64

In [ ]:
df.head()

   0   1   2   3    4   5   6   7   8   ...  48  49  50  51  52  53  54  55  56
0   1   0   3   0  1.0   0   2   2   2  ...   2   2   2   2   1   1   1   2   2
1   1   0   3   3  1.0   0   3   1   3  ...   2   2   2   2   2   2   1   2   2
2   1   0   3   3  2.0   0   3   3   3  ...   2   2   2   2   2   2   2   1   2
3   1   0   2   3  2.0   1   3   3   3  ...   2   2   2   2   2   2   2   2   2
4   1   0   3   2  1.0   1   3   3   3  ...   2   2   2   2   2   2   1   2   2

[5 rows x 57 columns]

splitting the data into dependent and independent variable

In [ ]:
target=df[0]

In [ ]:
del df[0]

In [ ]:
data =df

In [ ]:
data.head()

   1   2   3    4   5   6   7   8   9   ...  48  49  50  51  52  53  54  55  56
0   0   3   0  1.0   0   2   2   2   1  ...   2   2   2   2   1   1   1   2   2
1   0   3   3  1.0   0   3   1   3   1  ...   2   2   2   2   2   2   1   2   2
2   0   3   3  2.0   0   3   3   3   1  ...   2   2   2   2   2   2   2   1   2
3   0   2   3  2.0   1   3   3   3   1  ...   2   2   2   2   2   2   2   2   2
4   0   3   2  1.0   1   3   3   3   2  ...   2   2   2   2   2   2   1   2   2

[5 rows x 56 columns]

In [ ]:
data.describe()

              1          2          3   ...         54         55         56
count  32.000000  32.000000  32.000000  ...  32.000000  32.000000  32.000000
mean    0.031250   2.375000   2.031250  ...   1.562500   1.812500   1.718750
std     0.176777   0.553581   1.031265  ...   0.504016   0.396558   0.456803
min     0.000000   1.000000   0.000000  ...   1.000000   1.000000   1.000000
25%     0.000000   2.000000   1.750000  ...   1.000000   2.000000   1.000000
50%     0.000000   2.000000   2.000000  ...   2.000000   2.000000   2.000000
75%     0.000000   3.000000   3.000000  ...   2.000000   2.000000   2.000000
max     1.000000   3.000000   3.000000  ...   2.000000   2.000000   2.000000

[8 rows x 56 columns]

Splitting the data for training and testing

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
data.shape

(32, 56)

In [ ]:
target.shape

(32,)

In [ ]:
x_train, x_test, y_train, y_test=train_test_split(data, target, test_size=(0.2))

In [ ]:
from sklearn.svm import SVC
svc=SVC()
svc.fit(x_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [ ]:
from sklearn.metrics import accuracy_score

SVM PREDICTIONS

In [ ]:
train_pred=svc.predict(x_train)
test_pred=svc.predict(x_test)

In [ ]:
print(accuracy_score(train_pred, y_train))
print(accuracy_score(test_pred, y_test))

1.0
0.14285714285714285

In [ ]:
a=np.arange(1,10)

APPLYING KNN AND DECISION TREE CLASSIFIER

In [ ]:
from sklearn.neighbors import KNeighborsClassifier
knn=KNeighborsClassifier()

In [ ]:
from sklearn.tree import DecisionTreeClassifier
clf = DecisionTreeClassifier(random_state=0)

APPLYING PCA()

In [ ]:
from sklearn.decomposition import PCA
for i in a:
  print("ireration number : ", i)
  print()
  pca=PCA(n_components=i)
  data_pca=pca.fit_transform(data)
  x_train1, x_test1, y_train1, y_test1=train_test_split(data, target, test_size=(0.2))

  svc1=SVC()
  svc1.fit(x_train1, y_train1)
  train_pred1=svc1.predict(x_train1)
  test_pred1=svc1.predict(x_test1)


  knn.fit(x_train1,y_train1)
  train_pred2 = knn.predict(x_train1)
  test_pred2=knn.predict(x_test1)

  clf.fit(x_train1,y_train1)
  train_pred3 = clf.predict(x_train1)
  test_pred3=clf.predict(x_test1)



  print("train accuracy after pca using svm:",accuracy_score(train_pred1, y_train1))
  print("test accuracy after pca using svm:",accuracy_score(test_pred1, y_test1))

  print()
  print("train accuracy after pca using K-Nearest Neighbour :",accuracy_score(train_pred2, y_train1))
  print("test accuracy after pca using  K-Nearest Neighbour :",accuracy_score(test_pred2, y_test1))

  print()
  print("train accuracy after pca using Decision Tree Classifier :",accuracy_score(train_pred3, y_train1))
  print("test accuracy after pca using  Decision Tree Classifier :",accuracy_score(test_pred3, y_test1))
  print()

ireration number :  1

train accuracy after pca using svm: 0.92
test accuracy after pca using svm: 0.5714285714285714

train accuracy after pca using K-Nearest Neighbour : 0.72
test accuracy after pca using  K-Nearest Neighbour : 0.5714285714285714

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.7142857142857143

ireration number :  2

train accuracy after pca using svm: 0.92
test accuracy after pca using svm: 0.2857142857142857

train accuracy after pca using K-Nearest Neighbour : 0.8
test accuracy after pca using  K-Nearest Neighbour : 0.7142857142857143

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.5714285714285714

ireration number :  3

train accuracy after pca using svm: 0.84
test accuracy after pca using svm: 0.14285714285714285

train accuracy after pca using K-Nearest Neighbour : 0.72
test accuracy after pca using  K-Nearest Neighbour : 0.7142857142857143

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.7142857142857143

ireration number :  4

train accuracy after pca using svm: 0.96
test accuracy after pca using svm: 0.7142857142857143

train accuracy after pca using K-Nearest Neighbour : 0.68
test accuracy after pca using  K-Nearest Neighbour : 0.5714285714285714

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.5714285714285714

ireration number :  5

train accuracy after pca using svm: 0.96
test accuracy after pca using svm: 0.14285714285714285

train accuracy after pca using K-Nearest Neighbour : 0.6
test accuracy after pca using  K-Nearest Neighbour : 0.42857142857142855

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.2857142857142857

ireration number :  6

train accuracy after pca using svm: 0.92
test accuracy after pca using svm: 0.5714285714285714

train accuracy after pca using K-Nearest Neighbour : 0.64
test accuracy after pca using  K-Nearest Neighbour : 0.5714285714285714

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.5714285714285714

ireration number :  7

train accuracy after pca using svm: 0.88
test accuracy after pca using svm: 0.2857142857142857

train accuracy after pca using K-Nearest Neighbour : 0.68
test accuracy after pca using  K-Nearest Neighbour : 0.7142857142857143

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.42857142857142855

ireration number :  8

train accuracy after pca using svm: 0.84
test accuracy after pca using svm: 0.2857142857142857

train accuracy after pca using K-Nearest Neighbour : 0.84
test accuracy after pca using  K-Nearest Neighbour : 0.5714285714285714

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.2857142857142857

ireration number :  9

train accuracy after pca using svm: 0.88
test accuracy after pca using svm: 0.42857142857142855

train accuracy after pca using K-Nearest Neighbour : 0.76
test accuracy after pca using  K-Nearest Neighbour : 0.7142857142857143

train accuracy after pca using Decision Tree Classifier : 1.0
test accuracy after pca using  Decision Tree Classifier : 0.5714285714285714